body {
    background-color: rgb(140, 173, 187);
}
.container {
    width: 600px;
    height: 500px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 25px;
    
    align-content: center;
    display: flex;
    flex-wrap: wrap;

    border: 3px solid black;
}
.inputIn {
    box-sizing: border-box;
    width: 600px;
    height: 100px;

    line-height: 80px;
    vertical-align: middle;
    font-size: 50px;
    text-align: right;
    padding: 10px;

    overflow: auto;
    overflow-y: hidden;

    border: 3px solid black;
    background-color: rgb(241, 238, 238);
}
button {
    width: 100px;
    height: 100px;
    
    border: 2px solid black;

    font-size: 36px;
    cursor: pointer;
}
.equal {
    width: 600px;
    background-color: rgb(231, 115, 62);
}
.number {
    background-color: rgb(219, 63, 63);
}
.sign {
    background-color: rgb(219, 151, 63);
}